<section class="text-center container-fluid">
<br><br>
    <div class="container bg bg-danger text-white"><hr><b>
      <h2 class = "h2">
  ABOUT US</b></h2>
  <hr>
  </div>
  <p><small class="text-muted">what we do</small></p>
      <p class="lead text-muted">Something nice to tell people what you do.</p>
      <p>
        <a href="#" class="btn btn-secondary my-2">Call Now</a>
        <a href="#" class="btn btn-secondary my-2">WhatsApp now</a>
      </p>
  </section>
  <div class  = "container bg bg-danger">
  <hr>
  <h3 class = "h3 text-center text-white"><b>OUR PRODUCTS</b>
  </h3>
  <hr>
  </div>

<div class="container marketing">


    <!-- Three columns of text below the carousel -->
    <div class="row">
	{{#if products}}
		{{#each products}}
			 <div class="col-lg-4 text-center">
				<a href = "/{{category}}/{{product_name}}">
				<img src = "{{image}}" class = "img-fluid" alt ="{{product_name}}"</img>
				
				</a>
				<h2>{{product_name}}</h2>
				<p class = "text-justify">{{description}}.</p>
				<p>Price : N{{price}}</p>
			  </div>
		{{/each}}
	{{/if}}
</div>
<br>
<br>
	{{#if paginator}}
  {{paginate pagination limit="7"}}
      
{{/if }}
      
  
  
  
</div>