{{> spagenav}}  
 <div class = "content">
{{#if errors}}
  {{#each errors}}
  <div class="alert alert-danger">
    {{this.msg}}
  </div>
  {{/each}}
{{/if}}

{{#if error}}
  <div class="alert alert-danger">
    {{error}}
  </div>
  {{/if}}
  
  
  {{#if success}}
  <div class="alert alert-success">
    {{success}}
  </div>
  {{/if}}

<div class="card card-user">
	  <div class="card-header">
		<h5 class="card-title text-center">{{#if post}}UPLOAD NEW RESULTS{{else}} EDIT RESULTS {{/if}}</h5>
	  </div>
	  <div class="card-body"><br><br>
		<form action = "/postresult" method = "post">
		  <div class="row">
			<div class="col-md-6 pr-1">
			  <div class="form-group">
				<label>Student's Full Name</label>
				<select name = "student" class="form-control">
						{{#if student}}
						{{#each student}}
						<option>{{full_name}}</option>
						{{/each}}
						{{/if}}
					</select>     
					 </div>
			</div>
			<div class="col-md-3 pr-1">
			  <div class="form-group">
				<label>Class</label>
				<input class="form-control" placeholder="" type="text" name = "theclass" value = "{{theclass}}" readonly/>
               
			   </div>
			   </div>
			   <div class="col-md-3 pr-1">
			  <div class="form-group">
				<label>Student's Reg ID</label>
				<select name = "regid" class="form-control">
						{{#if student}}
						{{#each student}}
						<option>{{regid}}</option>
						{{/each}}
						{{/if}}
					</select>     
			   </div>
			</div></div>
			{{#if available}}
			{{#each available}}
			<div class="row">
			<div class="col-md-6 pr-1">
			  <div class="form-group">
				<label>Term</label>
					<select name = "term" class="form-control">
						
						<option>{{term}}</option>
						
					</select>  
			</div>
		  </div>
		  
			<div class="col-md-6 pr-1">
			  <div class="form-group">
				<label>Session</label>
					<select name = "session" class="form-control">
						
						<option>{{session}}</option>
						
					</select>  
				</div></div>
			</div>
			{{/each}}
		  {{/if}}
		  <p class="card-title text-center">SUBJECTS</p>
		  
		  
		  <div class="row">
			<div class="col-md-4 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<select name = "subject" class="form-control">
						
						<option>None</option>
						{{#if subjects}}
							{{#each subjects}}
							<option>{{subject}}</option>
							
						  {{/each}}
						  {{/if}}
										
						
					</select>  
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>CA</label>
				<input class="form-control" placeholder="" type="number" name = "ca" value = "{{ca}}" />
               
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<label>Exam</label>
				<input class="form-control" placeholder="" type="number" name = "exam" value = "{{exam}}" />
                
				</div>
			  </div>
		   <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Grade</label>
				<input class="form-control" placeholder="" type="text" name = "grade" value = "{{grade}}" />
               
				</div>
			  </div><div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Total</label>
				<input class="form-control" placeholder="" type="number" name = "total" value = "{{total}}" />
               
				</div>
			  </div>
		  
			
			</div>
			<div class="row">
			<div class="col-md-4 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<select name = "subject" class="form-control">
					<option>None</option>
						{{#if subjects}}
							{{#each subjects}}
							<option>{{subject}}</option>
							
						  {{/each}}
						  {{/if}}
										
						
					</select>  
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>CA</label>
				<input class="form-control" placeholder="" type="number" name = "ca" value = "{{ca}}" />
               
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<label>Exam</label>
				<input class="form-control" placeholder="" type="number" name = "exam" value = "{{exam}}" />
                
				</div>
			  </div>
		   <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Grade</label>
				<input class="form-control" placeholder="" type="text" name = "grade" value = "{{grade}}" />
               
				</div>
			  </div><div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Total</label>
				<input class="form-control" placeholder="" type="number" name = "total" value = "{{total}}" />
               
				</div>
			  </div>
		  
			
			</div>
			
			<div class="row">
			<div class="col-md-4 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<select name = "subject" class="form-control">
					<option>None</option>
						{{#if subjects}}
							{{#each subjects}}
							<option>{{subject}}</option>
							
						  {{/each}}
						  {{/if}}
										
						
					</select>  
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>CA</label>
				<input class="form-control" placeholder="" type="number" name = "ca" value = "{{ca}}" />
               
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<label>Exam</label>
				<input class="form-control" placeholder="" type="number" name = "exam" value = "{{exam}}" />
                
				</div>
			  </div>
		   <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Grade</label>
				<input class="form-control" placeholder="" type="text" name = "grade" value = "{{grade}}" />
               
				</div>
			  </div><div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Total</label>
				<input class="form-control" placeholder="" type="number" name = "total" value = "{{total}}" />
               
				</div>
			  </div>
		  
			
			</div>
			<div class="row">
			<div class="col-md-4 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<select name = "subject" class="form-control">
					<option>None</option>
						{{#if subjects}}
							{{#each subjects}}
							<option>{{subject}}</option>
							
						  {{/each}}
						  {{/if}}
										
						
					</select>  
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>CA</label>
				<input class="form-control" placeholder="" type="number" name = "ca" value = "{{ca}}" />
               
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<label>Exam</label>
				<input class="form-control" placeholder="" type="number" name = "exam" value = "{{exam}}" />
                
				</div>
			  </div>
		   <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Grade</label>
				<input class="form-control" placeholder="" type="text" name = "grade" value = "{{grade}}" />
               
				</div>
			  </div><div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Total</label>
				<input class="form-control" placeholder="" type="number" name = "total" value = "{{total}}" />
               
				</div>
			  </div>
		  
			
			</div>
			
			<div class="row">
			<div class="col-md-4 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<select name = "subject" class="form-control">
					<option>None</option>
						{{#if subjects}}
							{{#each subjects}}
							<option>{{subject}}</option>
							
						  {{/each}}
						  {{/if}}
										
						
					</select>  
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>CA</label>
				<input class="form-control" placeholder="" type="number" name = "ca" value = "{{ca}}" />
               
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<label>Exam</label>
				<input class="form-control" placeholder="" type="number" name = "exam" value = "{{exam}}" />
                
				</div>
			  </div>
		   <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Grade</label>
				<input class="form-control" placeholder="" type="text" name = "grade" value = "{{grade}}" />
               
				</div>
			  </div><div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Total</label>
				<input class="form-control" placeholder="" type="number" name = "total" value = "{{total}}" />
               
				</div>
			  </div>
		  
			
			</div><div class="row">
			<div class="col-md-4 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<select name = "subject" class="form-control">
					<option>None</option>
						{{#if subjects}}
							{{#each subjects}}
							<option>{{subject}}</option>
							
						  {{/each}}
						  {{/if}}
										
						
					</select>  
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>CA</label>
				<input class="form-control" placeholder="" type="number" name = "ca" value = "{{ca}}" />
               
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<label>Exam</label>
				<input class="form-control" placeholder="" type="number" name = "exam" value = "{{exam}}" />
                
				</div>
			  </div>
		   <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Grade</label>
				<input class="form-control" placeholder="" type="text" name = "grade" value = "{{grade}}" />
               
				</div>
			  </div><div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Total</label>
				<input class="form-control" placeholder="" type="number" name = "total" value = "{{total}}" />
               
				</div>
			  </div>
		  
			
			</div>
			<div class="row">
			<div class="col-md-4 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<select name = "subject" class="form-control">
					<option>None</option>
						{{#if subjects}}
							{{#each subjects}}
							<option>{{subject}}</option>
							
						  {{/each}}
						  {{/if}}
										
						
					</select>  
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>CA</label>
				<input class="form-control" placeholder="" type="number" name = "ca" value = "{{ca}}" />
               
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<label>Exam</label>
				<input class="form-control" placeholder="" type="number" name = "exam" value = "{{exam}}" />
                
				</div>
			  </div>
		   <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Grade</label>
				<input class="form-control" placeholder="" type="text" name = "grade" value = "{{grade}}" />
               
				</div>
			  </div><div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Total</label>
				<input class="form-control" placeholder="" type="number" name = "total" value = "{{total}}" />
               
				</div>
			  </div>
		  
			
			</div>
			<div class="row">
			<div class="col-md-4 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<select name = "subject" class="form-control">
					<option>None</option>
						{{#if subjects}}
							{{#each subjects}}
							<option>{{subject}}</option>
							
						  {{/each}}
						  {{/if}}
										
						
					</select>  
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>CA</label>
				<input class="form-control" placeholder="" type="number" name = "ca" value = "{{ca}}" />
               
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<label>Exam</label>
				<input class="form-control" placeholder="" type="number" name = "exam" value = "{{exam}}" />
                
				</div>
			  </div>
		   <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Grade</label>
				<input class="form-control" placeholder="" type="text" name = "grade" value = "{{grade}}" />
               
				</div>
			  </div><div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Total</label>
				<input class="form-control" placeholder="" type="number" name = "total" value = "{{total}}" />
               
				</div>
			  </div>
		  
			
			</div>
			<div class="row">
			<div class="col-md-4 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<select name = "subject" class="form-control">
					<option>None</option>
						{{#if subjects}}
							{{#each subjects}}
							<option>{{subject}}</option>
							
						  {{/each}}
						  {{/if}}
										
						
					</select>  
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>CA</label>
				<input class="form-control" placeholder="" type="number" name = "ca" value = "{{ca}}" />
               
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<label>Exam</label>
				<input class="form-control" placeholder="" type="number" name = "exam" value = "{{exam}}" />
                
				</div>
			  </div>
		   <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Grade</label>
				<input class="form-control" placeholder="" type="text" name = "grade" value = "{{grade}}" />
               
				</div>
			  </div><div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Total</label>
				<input class="form-control" placeholder="" type="number" name = "total" value = "{{total}}" />
               
				</div>
			  </div>
		  
			
			</div>
			<div class="row">
			<div class="col-md-4 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<select name = "subject" class="form-control">
					<option>None</option>
						{{#if subjects}}
							{{#each subjects}}
							<option>{{subject}}</option>
							
						  {{/each}}
						  {{/if}}
										
						
					</select>  
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>CA</label>
				<input class="form-control" placeholder="" type="number" name = "ca" value = "{{ca}}" />
               
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<label>Exam</label>
				<input class="form-control" placeholder="" type="number" name = "exam" value = "{{exam}}" />
                
				</div>
			  </div>
		   <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Grade</label>
				<input class="form-control" placeholder="" type="text" name = "grade" value = "{{grade}}" />
               
				</div>
			  </div><div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Total</label>
				<input class="form-control" placeholder="" type="number" name = "total" value = "{{total}}" />
               
				</div>
			  </div>
		  
			
			</div>
			
			<div class="row">
			<div class="col-md-4 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<select name = "subject" class="form-control">
					<option>None</option>
						{{#if subjects}}
							{{#each subjects}}
							<option>{{subject}}</option>
							
						  {{/each}}
						  {{/if}}
										
						
					</select>  
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>CA</label>
				<input class="form-control" placeholder="" type="number" name = "ca" value = "{{ca}}" />
               
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<label>Exam</label>
				<input class="form-control" placeholder="" type="number" name = "exam" value = "{{exam}}" />
                
				</div>
			  </div>
		   <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Grade</label>
				<input class="form-control" placeholder="" type="text" name = "grade" value = "{{grade}}" />
               
				</div>
			  </div><div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Total</label>
				<input class="form-control" placeholder="" type="number" name = "total" value = "{{total}}" />
               
				</div>
			  </div>
		  
			
			</div>

			<div class="row">
			<div class="col-md-4 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<select name = "subject" class="form-control">
					
					<option>None</option>
						{{#if subjects}}
							{{#each subjects}}
							<option>{{subject}}</option>
							
						  {{/each}}
						  {{/if}}
										
						
					</select>  
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>CA</label>
				<input class="form-control" placeholder="" type="number" name = "ca" value = "{{ca}}" />
               
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<label>Exam</label>
				<input class="form-control" placeholder="" type="number" name = "exam" value = "{{exam}}" />
                
				</div>
			  </div>
		   <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Grade</label>
				<input class="form-control" placeholder="" type="text" name = "grade" value = "{{grade}}" />
               
				</div>
			  </div><div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Total</label>
				<input class="form-control" placeholder="" type="number" name = "total" value = "{{total}}" />
               
				</div>
			  </div>
		  
			
			</div> <div class="row">
			<div class="col-md-4 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<select name = "subject" class="form-control">
					<option>None</option>
						{{#if subjects}}
							{{#each subjects}}
							<option>{{subject}}</option>
							
						  {{/each}}
						  {{/if}}
										
						
					</select>  
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>CA</label>
				<input class="form-control" placeholder="" type="number" name = "ca" value = "{{ca}}" />
               
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<label>Exam</label>
				<input class="form-control" placeholder="" type="number" name = "exam" value = "{{exam}}" />
                
				</div>
			  </div>
		   <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Grade</label>
				<input class="form-control" placeholder="" type="text" name = "grade" value = "{{grade}}" />
               
				</div>
			  </div><div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Total</label>
				<input class="form-control" placeholder="" type="number" name = "total" value = "{{total}}" />
               
				</div>
			  </div>
		  
			
			</div> <div class="row">
			<div class="col-md-4 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<select name = "subject" class="form-control">
					<option>None</option>
						{{#if subjects}}
							{{#each subjects}}
							<option>{{subject}}</option>
							
						  {{/each}}
						  {{/if}}
										
						
					</select>  
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>CA</label>
				<input class="form-control" placeholder="" type="number" name = "ca" value = "{{ca}}" />
               
				</div>
			  </div>
			  <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Subject</label>
					<label>Exam</label>
				<input class="form-control" placeholder="" type="number" name = "exam" value = "{{exam}}" />
                
				</div>
			  </div>
		   <div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Grade</label>
				<input class="form-control" placeholder="" type="text" name = "grade" value = "{{grade}}" />
               
				</div>
			  </div><div class="col-md-2 pr-1">
			  <div class="form-group">
				<label>Total</label>
				<input class="form-control" placeholder="" type="number" name = "total" value = "{{total}}" />
               
				</div>
			  </div>
		  
			
			</div>
			
			
			  <div class="form-group">
				<label>Class Teacher's Remark</label>
				<input class="form-control" placeholder="" type="text" name = "remark" value = "{{remark}}" required/>
               
			</div></div>
			<div class="text-center">
		  <small class = "text-center"><button class = "btn btn-primary " id = "add-admin" type "submit">SUBMIT</button></small>
			</div>			
		  
		</form>
	  </div>
	</div>
  </div>
</div>

</div>