<div class = "text-secondary text-center" style = "background-color: lightblue">
<section class = "container">
<hr>
<h3 class = "h3" id = "h3"><b>{{title}}</b></h3><hr>
</section>
</div>

			<!-- add admin and delete admin -->
			
			<div class = "row">
		<div class = "col-md-6">
		<div class = "container bg bg-secondary text-center" style = "color: lightblue">
		<hr>
		<h3><b>ADD ADMIN</b></h3><hr>
		</div>
		{{#if addsuccess}}
		<div id = "stats" class = " container alert alert-success">
		{{addsuccess}}
		</div>
		{{/if}}
		{{#if adderror}}
		<div id = "stats" class = " container alert alert-danger">
		{{adderror}}
		</div>
		{{/if}}
		<form method ="POST" action ="/addadmin">
		<div class="container-fluid">
		
			<div class="form-group ">
				<label for="addadmin">User Id</label>
				<input type="number" class="form-control" id="user" name ="user" placeholder="Enter user id" required />
			</div>
			
			<div class="form-group">
				<button type="submit" class="btn btn-secondary">Submit</button>
				</div>
	</div>
	</form>
		</div>
		<div class = "col-md-6">
		<div class = "container bg bg-secondary text-center" style = "color: lightblue">
		<hr>
		<h3 class = "h3"><b>DELETE ADMIN</b></h3><hr>
		</div>
		<div class = "container">
	{{#if adminsuccess}}
		<div id = "stats" class = " container alert alert-success">
		{{adminsuccess}}
		</div>
		{{/if}}
		{{#if adminerror}}
		<div id = "stats" class = " container alert alert-danger">
		{{adminerror}}
		</div>
		{{/if}}
	</div>
	<form method ="POST" action ="/deladmin">
		<div class="container-fluid"> 	
			<div class="form-group">
				<label for="product">User id</label>
				<input type="number" class="form-control" id="user id" name ="user" placeholder="Enter user id" required />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-secondary">Submit</button><br><br>
			</div>
		</div>	
	
	
		</div>
		</div>
			
			
			
			<div class = "row">
		<div class = "col-md-6">
		<div class = "text-secondary text-center" style = "background-color: lightblue">
		<hr>
		<h3><b>ADD STAFF</b></h3><hr>
		</div>
		{{#if addstaffsuccess}}
		<div id = "stats" class = " container alert alert-success">
		{{addstaffsuccess}}
		</div>
		{{/if}}
		{{#if addstafferror}}
		<div id = "stats" class = " container alert alert-danger">
		{{addstafferror}}
		</div>
		{{/if}}
		<form method ="POST" action ="/addstaff">
		<div class="container-fluid">
		
			<div class="form-group ">
				<label for="addadmin">User Id</label>
				<input type="number" class="form-control" id="user" name ="user" placeholder="Enter user id" required />
			</div>
			
			<div class="form-group">
				<button type="submit" class="btn btn-secondary">Submit</button>
				</div>
	</div>
	</form>
		</div>
		<div class = "col-md-6">
		<div class = "text-secondary text-center" style = "background-color: lightblue">
		<hr>
		<h3 class = "h3"><b>DELETE STAFF</b></h3><hr>
		</div>
		<div class = "container">
	{{#if staffsuccess}}
		<div id = "stats" class = " container alert alert-success">
		{{adminsuccess}}
		</div>
		{{/if}}
		{{#if stafferror}}
		<div id = "stats" class = " container alert alert-danger">
		{{stafferror}}
		</div>
		{{/if}}
	</div>
	<form method ="POST" action ="/delstaff">
		<div class="container-fluid"> 	
			<div class="form-group">
				<label for="product">User id</label>
				<input type="number" class="form-control" id="user id" name ="user" placeholder="Enter user id" required />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-secondary">Submit</button><br><br>
			</div>
		</div>	
	
	
		</div>
		</div>
			